@{

}

<style>

    .TicketCounter span {
        font-size: 22px;
    }
</style>

<link rel="stylesheet" href="~/cyborg/css/fontawesome.css">

<div class="border border-5 border-primary  w-75 p-3 m-3">
    <div class="row">
        <div class="col-3 ml-3"><h4>全票</h4></div>
        <div class="col-2 ml-3 text-center"><h4>300</h4></div>
        <div class="col-5 TicketCounter text-right"><span class="fa-solid fa-plus"></span> <span class="pr-3 pl-3"> 0 </span> <span class="fa-solid fa-subtract"></span></div>
    </div>
</div>

<div class="border border-5 border-primary  w-75 p-3 m-3">
    <div class="row">
        <div class="col-3 ml-3"><h4>半票</h4></div>
        <div class="col-2 ml-3 text-center"><h4>150</h4></div>
        <div class="col-5 TicketCounter text-right"><span class="fa-solid fa-plus"></span> <span class="pr-3 pl-3"> 0 </span> <span class="fa-solid fa-subtract"></span></div>
    </div>
</div>